<div class="jumbotron">
    <h1>Library API</h1>
    <p class="lead"> Library management system Rest Api, with more than 20 endpoints.</p>
    <h3>This WebApi will allow you to implement the following:</h3>
    <ul>
        <li>Ability to add books to the system.</li>
        <li>Ability to add users to the system.</li>
        <li>Ability to lend books to users.</li>
        <li>Ability to return books to the library.</li>
        <li>Ability to limit the number of books borrowed by user.</li>
        <li>Abilty the user to reserve a book</li>
        <li>Ability to search a book by id.</li>
        <li>Abilty to search user by Id</li>
        <li>Ability to Update and Delete Books and Users</li>
        <li>Abilty to restock books in to system</li>
        <li>Abilty to fine users if they  return a book after due date. The fine 10cent per late day except Sundays</li>
        <li>Abilty to checkout books</li>
        and so much more....


    </ul>
    <p><a href="https://libraryapi20210922113350.azurewebsites.net/swagger/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div >
    <div c>
        <h2>The Project</h2>
        <p>This WebApi project collabrated on by: </p>
        <ul>
            <li>Said Ali</li>
            <li>Roy Bentz</li>
            <li>David King</li>
    </div>
</div>
